<!DOCTYPE HTML>
<html lang="en-US">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Temkuri - Free Corporate Responsive Website Template</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon"  type="image/png" href="assets/images/favicon.png">		
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="venobox/venobox.css">
        <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css">       
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">		
		
    </head>
<body>
<div class="em40_header_area_main">
 	<!-- HEADER TOP AREA -->
	<div class="temkuri-header-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-9 col-xl-9 col-md-9 col-sm-12">
					<div class="top-address text-left">
						<p>
							<span><i class="fas fa-home"></i>Ground Floor New World.</span>
							<a href="pricing-plan.html#"><i class="fas fa-phone-alt"></i>+998556778345</a>
							<a href="pricing-plan.html#"><i class="fas fa-envelope"></i>demo@example.com</a>
						</p>
					</div>
				</div>
				<!-- TOP RIGHT -->
				<div class="col-xs-12 col-lg-3 col-xl-3 col-md-3 col-sm-12 ">
					<div class="top-right-menu">
						<ul class="social-icons text-right text_m_center">
							<li><a href="pricing-plan.html#"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="pricing-plan.html#"><i class="fab fa-x-twitter"></i></a></li>
							<li><a href="pricing-plan.html#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="pricing-plan.html#"><i class="fab fa-tumblr"></i></a></li>
							<li><a href="pricing-plan.html#"><i class="fab fa-pinterest-p"></i></a></li>								
						</ul>
					</div>
				</div>	
			</div>		
		</div>
	</div>
    <!-- END HEADER TOP AREA -->
	<div class="tx_top2_relative">
		<div class="">
			<div class="tx_relative_m">
				<div class="">  
					<div class="mainmenu_width_tx  ">
						<div class="temkuri-main-menu one_page hidden-xs hidden-sm witr_h_h10">
							<div class="temkuri_nav_area scroll_fixed postfix">
								<div class="container">
									<div class="row logo-left">				
										<!-- LOGO -->
										<div class="col-md-3 col-sm-3 col-xs-4">
											<div class="logo">
												<a class="main_sticky_main_l" href="index.html" title="temkuri">
													<img src="assets/images/logo.png" alt="temkuri">
												</a>
												<a class="main_sticky_l" href="index.html" title="temkuri">
													<img src="assets/images/logo2.png" alt="temkuri">
												</a>
											</div>	  
										</div>
										<div class="col-md-9 col-sm-9 col-xs-8">
											<nav class="temkuri_menu">					
												<ul class="sub-menu">
													<li><a href="index.html">Home</a></li>
													<li><a href="about.html">About</a></li>
													<li><a href="service.html">Service</a></li>
													<li class="menu-item-has-children">
														<a href="pricing-plan.html#">Pages</a>
														<ul class="sub-menu">
															<li><a href="pricing-plan.html">Pricing Plan</a></li>
															<li><a href="faq.html">FAQ’S</a></li>
															<li><a href="portfolio.html">Portfolio</a></li>
															<li><a href="team.html">Team</a></li>
															<li><a href="testimonial.html">Testimonial</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="pricing-plan.html#">News</a>
														<ul class="sub-menu">
															<li><a href="blog.html">Blog Grid</a></li>
															<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
															<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
														</ul>
													</li>
													<li><a href="contact.html">Contact</a></li>
												</ul>
												<div class="donate-btn-header">
													<a class="dtbtn" href="contact.html">Get a Quote</a>	
												</div>
											</nav>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 			
			</div>
		</div> 
	</div> 
</div> 

<!-- MOBILE MENU Logo AREA -->
<div class="mobile_logo_area hidden-md hidden-lg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="mobile_menu_logo text-center">
					<a href="index.html" title="temkuri">
						<img src="assets/images/logo.png" alt="temkuri">
					</a>		
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MOBILE MENU AREA -->
<div class="home-2 mbm hidden-md hidden-lg header_area main-menu-area">
	<div class="menu_area mobile-menu">
		<nav class="temkuri_menu">					
			<ul class="sub-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="service.html">Service</a></li>
				<li class="menu-item-has-children">
					<a href="pricing-plan.html#">Pages</a>
					<ul class="sub-menu">
						<li><a href="pricing-plan.html">Pricing Plan</a></li>
						<li><a href="faq.html">FAQ’S</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>
						<li><a href="team.html">Team</a></li>
						<li><a href="testimonial.html">Testimonial</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="pricing-plan.html#">News</a>
					<ul class="sub-menu">
						<li><a href="blog.html">Blog Grid</a></li>
						<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
						<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
					
		</nav>
	
	</div>					
</div>
<!-- END MOBILE MENU AREA  -->



<!-- breadcumb-area -->
<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc  text-center ccase">
				<div class="brpt">
					<h2>Pricing Plan</h2>
				</div>
				<div class="breadcumb-inner">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>Pricing Plan</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>


<!-- temkuri_pricing_area -->
<div class="temkuri_pricing2_area">
	<div class="container">	
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>OUR SMALL PRICE</h2>		
						<h3>Best Facility</h3>		
					</div>
				</div>
			</div>
		</div>
		<div class="row pricing_top">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="far fa-snowflake"></i>	
						</div>
						<h4>Basic Plan </h4>	
						<h5><span>$</span>12.99 <span> /W</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>30 days trial Features</li>
								<li>Synced to cloud database</li>
								<li>10 hours of support</li>
								<li>Social media integration</li>
								<li>Unlimited Features</li>
							</ul>		
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Buy now</a>
						</div>			
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="far fa-money-bill-alt"></i>
						</div>
						<h4>Advance Plan</h4>
						<sub>Popular </sub>
						<h5><span>$</span>29.99 <span> /W</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>30 days trial Features</li>
								<li>Synced to cloud database</li>
								<li>10 hours of support</li>
								<li>Social media integration</li>
								<li>Unlimited Features</li>
							</ul>		
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Buy now</a>
						</div>			
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="fas fa-layer-group"></i>
						</div>
						<h4>Premium Plan </h4>	
						<h5><span>$</span>63.99 <span> /W</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>30 days trial Features</li>
								<li>Synced to cloud database</li>
								<li>10 hours of support</li>
								<li>Social media integration</li>
								<li>Unlimited Features</li>
							</ul>		
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Buy now</a>
						</div>			
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>


<!-- temkuri_pricing_area -->
<div class="temkuri_pricing_bg_area">
	<div class="container">	
		<div class="row">
			<div class="col-lg-12">
				<div class="witr_section_title">
					<div class="witr_section_title_inner text-center">
						<h2>OUR SMALL PRICE</h2>
						<div class="witr_bar_main">
							<div class="witr_bar_inner witr_bar_innerc"></div>
						</div>
						<h3>Best Facility</h3>		
					</div>
				</div>
			</div>
		</div>
		<div class="row pricing_top">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color  ">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="fas fa-comment-dollar"></i>						
						</div>
						<h4>Monthly Package </h4>	
						<sub>Popular </sub>
						<div class="prt_content">
							<p>30% offer </p>
						</div>
						<h5><span>$</span>31.99 <span> /month</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>example list 1</li>
								<li>example list 2</li>
								<li>example list 3</li>
							</ul>					
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Subscribe Now</a>
						</div>			
                    </div> 
                </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color  ">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="fas fa-coins"></i>						
						</div>
						<h4>Yearly Package </h4>
						<sub>Popular </sub>						
						<div class="prt_content">
							<p>40% offer </p>
						</div>
						<h5><span>$</span>61.99 <span> /month</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>example list 1</li>
								<li>example list 2</li>
								<li>example list 3</li>
							</ul>					
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Subscribe Now</a>
						</div>			
                    </div> 
                </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pricing_area all_pricing_color  ">
                    <div class="pricing-part ">
						<div class="witr_pricing_icon">
							<i class="fab fa-bitcoin"></i>					
						</div>
						<h4>Lifetime Package</h4>
						<sub>Popular </sub>						
						<div class="prt_content">
							<p>50% offer </p>
						</div>
						<h5><span>$</span>91.99 <span> /month</span></h5>
						<div class="witri_texti_list">
							<ul>
								<li>example list 1</li>
								<li>example list 2</li>
								<li>example list 3</li>
							</ul>					
						</div>
						<div class="witr_btnp_color">
							<a class="btn" href="pricing-plan.html#">Subscribe Now</a>
						</div>			
                    </div> 
                </div>
			</div>
		</div>
	</div>
</div>



<!-- witrfm_footer_area -->
<div class="witrfm_area">
	<div class="footer-middle">  
		<div class="container">
			<div class="row">
				<div class=" col-lg-3 col-md-6 col-sm-12">
					<div class="widget widget_temkuri_description_widget">				
						<div class="temkuri-description-area">
							<a href="pricing-plan.html#"><img src="assets/images/logo2.png" alt="image"></a>
							<p>We help businesses elevate the alue ere custom softwa topmet, product fr design lored many of the easier. technicians lif making people.</p>
							<div class="social-icons">
								<a href="pricing-plan.html#"><i class="fa fa-facebook-f"></i></a>
								<a href="pricing-plan.html#"><i class="fab fa-google-plus-g"></i></a>
								<a href="pricing-plan.html#"><i class="fab fa-x-twitter"></i></a>
								<a href="pricing-plan.html#"><i class="fas fa-rss"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-lg-3 col-md-6 col-sm-12">
					<div class="widget widget_nav_menu">
						<h2 class="widget-title">Quick Link</h2>
						<ul class="menu">
							<li><a href="pricing-plan.html#">Privacy Policy</a></li>
							<li><a href="pricing-plan.html#">FAQ’s</a></li>
							<li><a href="pricing-plan.html#">Term & Conditions</a></li>
							<li><a href="pricing-plan.html#">Contact</a></li>
							<li><a href="pricing-plan.html#">History & Experience</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="widget about_us">
						<h2 class="widget-title">Local Address</h2>
						<div class="about-footer">
							<div class="footer-widget address">
								<div class="footer-logo">
									<p>Fire suppression and incident of manage get recovery.</p>
								</div>
								<div class="footer-address">
									<div class="footer_s_inner"> 
										<div class="footer-sociala-icon">
											<i class="fa fa-map-marker"></i>
										</div>									
										<div class="footer-sociala-info">				
											<p>Address : New York. US</p>
										</div> 
									</div> 
									<div class="footer_s_inner"> 
										<div class="footer-sociala-icon">
											<i class="fa fa-phone"></i>
										</div> 									
										<div class="footer-sociala-info">   
												<p>Phone : +99 568 989 565</p>
										</div>
									</div>
									<div class="footer_s_inner"> 
										<div class="footer-sociala-icon"> 
											<i class="fa fa-envelope"></i>
										</div> 
										<div class="footer-sociala-info">  
											<p>Email : demo@gmail.com</p>									
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-sm-12 col-md-6  col-lg-3 last">
					<div class="widget_text widget widget_custom_html">
						<h2 class="widget-title">Working Hours</h2>
						<div class="textwidget custom-html-widget">
							<div class="witr_table">
								<div class="witr_sub_table">
									<span>Tuesday - Friday</span>
									<span>08:00 - 20:00</span>
								</div>
								<div class="witr_sub_table">	
									<span>Saturday</span>
									<span>09:00 - 18:00</span>
								</div>		
								<div class="witr_sub_table">		
									<span>Sunday</span>
									<span>09:00 - 18:00</span>
								</div>
								<div class="witr_sub_table">		
									<span>Monday</span>
									<span>09:00 - 18:00</span>
								</div>
								<div class="witr_sub_table">		
									<span>Emergency:</span>
									<span> (+099) 020 768 69</span>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>	
		</div>	
	</div>	
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6  col-sm-12">
					<div class="copy-right-text">
						<p>Copyrights By wpdream all reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6  col-sm-12">				
					<div class="footer-menu">
						<ul class="text-right">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">Team</a></li>
						</ul> 				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
 
		



        <!-- Include All JS -->
        <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="venobox/venobox.min.js"></script>
        <script src="assets/js/theme-pluginjs.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/ajax-mail.js"></script>		
        <script src="assets/js/map.js"></script>		
        <script src="assets/js/theme.js"></script>
	
	</body>
</html>